@font-face { font-family: "HoboStd"; src: url("../fonts/HoboStd.otf"); }
@font-face { font-family: "Gothicb"; src: url("../fonts/GOTHICB.TTF"); }
.logo-easyseller { font-family: "HoboStd"; font-style: normal; font-size: 3.5em; color: white !important; font-weight: 700; letter-spacing: .03em; line-height: 70px; }
.logo-easyseller span.logo-p { font-family: "Copperplate"; text-transform: uppercase; }
.logo-easyseller span.logo-e { color: #03a9f3; font-size: 1.2em; }

.logo { color: #fff !important; font-weight: 700; letter-spacing: .03em; }
.logo span.logo-e { font-family: "HoboStd"; font-size: 1.8em; }
.logo span.logo-s { font-family: "HoboStd"; font-size: 1.8em; }
.logo span.logo-asy { font-family: "HoboStd"; font-size: 1.1em; color: #fff !important; }
.logo span.logo-eller { font-family: "HoboStd"; font-size: 1.1em; color: #ccc !important; }

.customvtab { width: 100%; border: #000000 dotted 1px; }

.bouton{margin-bottom: 75px; margin-top: 25px; }
.bouton-ajout{margin-top: 25px; }

.required{color: red; }

.monnaie{ padding-right: 10px; }

.input-seller{ width: 50px; text-align: center }
.input-seller-monnaie{ width: 75px; text-align: center }
.input-seller-facture{ width: 130px; text-align: center; font-weight: bold; font-size: 1.8em;}
.input-seller-facture-monnaie{ width: 130px; text-align: center; font-weight: bold; color: red; font-size: 1.8em;}
.facture-monnaie{ font-size: 1.8em; color: red;}
.facture-total{ font-size: 1.8em;}

.print{ font-size: 0.85em;}

.table > tbody > tr > td { padding: 10px 5px; }
.table > tbody > tr > td.thick-line,
.table > tbody > tr > td.no-line {
  padding: 5px 7px;
}

.table > tbody > tr > td.thick-line.p-t{ padding-top: 25px; }
.table > tbody > tr > td.no-line.p-b { padding-left: 50px; }

.montant-total-jour{ padding-right: 70px;}

.billetage{color: blue; font-weight: bold; text-align: center;}
.billetage.input-seller-facture{ width: 130px; text-align: center; font-weight: bold; font-size: 1.2em;}
